@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

button, a {
    cursor: pointer;
}

@theme {
    --color-main: #CBC3D7;
    --color-secondary: #E2E2EB;
    --color-header: #151820;
    --color-dark-card: #191B22;
    --color-light-card: #1E1F26;
    --color-darkBg: #0C0E14;

    --color-red: #FFB4AB;

    --color-cyan: #4CD7F6;
    --color-cyan-bright: #03B5D3;
    --color-cyan-deep: #003640;

    --color-purple-bright: #A078FF;
    --color-purple-dark: #3C0091;
    --color-purple-deep: #340080;
    --color-purple: #D0BCFF;

    --color-orange: #FFB95F;
    --color-orange-dark: #CA8100;
    --color-orange-deep: #472A00;

    --color-muted: #958EA0;

    --color-pointer: #494454;
    --color-dark-muted: #33343B;

    --color-white-soft: #E5E5E9;
}
